.lContainer * {
    box-sizing: border-box;
}
.lContainer {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid var(--greydark);
    height: auto;
    height: 3.5rem;
    flex-shrink: 0;
}
.lHeader {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
}
.receptyLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--greydark);
    width: 3rem;
    aspect-ratio: 1/1;
    margin: 0.2rem;
    cursor: pointer;
    border-radius: 50%;
    visibility: hidden;
}
.familyLogo,
.logo {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    padding: 0.5rem;
}

.logo {
    background-color: white;
    text-align: center;
    color: var(--greydark);
    font-size: 1.5rem;
    width: auto;
    min-width: 3.5rem;
    cursor: pointer;
    padding: 0.5rem 2.7rem;

    &&:hover {
        background-color: var(--grey);
        border-radius: 0.5rem;
        color: var(--orange);
    }
}
.familyContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 8rem;
    flex-shrink: 0;
}
.familyContainer span {
    font-family: var(--font-lobster);
    font-style: italic;
    font-weight: bold;
    color: var(--orange);
}
.familyLogo {
    background-color: var(--greydark);
    width: auto;

    color: white;
}

.userBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &:hover {
        text-decoration: underline;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5rem;
    align-items: center;
    background-color: white;
    flex-shrink: 1;
    flex-grow: 1;
}
.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}
.dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown .dropbtn {
    border: none;
    border-radius: 0.3rem;
    outline: none;
    color: var(--greydark);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: center;
}

.dropdown:hover .dropbtn {
    color: var(--orange);
    background-color: #ddd;
}

.dropdowncontent {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.dropdowncontent .li {
    float: none;
    color: var(--greydark);
    padding: 0.7rem 1rem;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
}

.dropdowncontent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdowncontent {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    z-index: 2;
}

.dropdowncontent:hover {
    position: absolute;
    z-index: 2;
}
.overlay {
    display: none;
}

.hide {
    display: none;
}

.errmsg {
    position: absolute;

    color: rgb(231, 35, 35);
}
@media (max-width: 1300px) {
    .dropdown {
        display: none;
    }
}
@media (max-width: 1024px) {
    .navlik {
        visibility: hidden;
    }

    .responseContainer section h1 {
        font-size: 1.2rem;
    }
    .menu {
        column-gap: 2rem;
    }
    .dropdown .logo {
        min-width: 2.5rem;
        font-size: 1.1rem;
        padding: 0.3rem;
    }
    .logo {
        min-width: 2.5rem;
        padding: 0.3rem;
        &&:hover {
            background-color: white;
            border-radius: 0.5rem;
            color: var(--greydark);
        }
    }
}

@media (max-width: 764px) {
    .lHeader {
        padding: 0 1rem;
        grid-template-columns: 3.3rem 1fr 3.3rem;
    }
    .receptyLogo {
        visibility: unset;
    }
    .logo,
    .familyLogo {
        font-size: 1rem;
    }
    .menu .menutoggle {
        font-size: 1rem;
    }
    .lHeader {
        padding: 0 1rem;
    }
    .familyContainer {
        width: 4rem;
    }

    .lHeader,
    .menu {
        position: static !important;
    }
    .dropdowncontent {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
        align-items: center;
        border-radius: 0;
        background-color: #f9f9f9;
        transform: none;
        top: 100%;
        z-index: 1001;
    }
    .dropdowncontent .li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.7rem 0;
        margin: 0;
    }

    .dropdowncontent a {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 530px) {
    .familyContainer {
        width: 3rem;
    }
    .menu {
        column-gap: 1rem;
    }
}
@media (max-width: 400px) {
    .lHeader {
        padding: 0 0.2rem;
    }

    .containerUser {
        max-width: 5rem;
    }
}
