.imagebox {
    position: relative;
    grid-column: 2 /5;
    grid-row: 3/4;
    align-self: start;
}

.imagerender {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    grid-template-rows: min-content 1fr;
    margin: 20px;
    cursor: pointer;
}
.imageinput {
    margin: 10px 0 10px 0;
    cursor: pointer;
}

input[type='file'] {
    display: none;
}

.imageIcon {
    position: absolute;
    justify-content: center;
    border-color: rgb(233, 229, 229);
    /* rotate: 45deg; */
    font-size: 1.5rem;
    color: var(--greydark);
    cursor: pointer;
}

.imageIconBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.imageIcon::before,
.imageIcon::after {
    --scale: 0;
    position: absolute;
    font-size: 0.7rem;
    top: -0.3rem;
    left: 2.5rem;
    transform: translateX(-50%) scale(var(--scale));
    transition: 150ms tranform;
}

.imageIcon::before {
    content: attr(datatooltip);
    padding: 0.3rem;
    margin-left: 30px;
    color: var(--greydark);
    background-color: white;
    font-weight: bold;
    border-radius: 0.3rem;
}

.imageIcon:hover:before {
    --scale: 1;
}

.imageIcon:hover {
    color: var(--orange);
}
.numOfFiles {
    text-align: center;
    margin: 5px 0 5px 0;
    font-size: smaller;
}
.foodimage {
    width: 100%;
    aspect-ratio: 1 / 1;

    border-radius: 5px;
    object-fit: cover;
    /* z-index: 1; */
}

.imageContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}

.imageclicker {
    position: absolute;
    background-color: black;
    border-radius: 15px;
    opacity: 0;
    z-index: 2;
    min-width: 100px;
    min-height: 100px;
}
.imageContainer:hover .imageclicker {
    opacity: 0.25;
}
.imagecross {
    position: absolute;
    color: white;
    z-index: 3;
    font-size: 50px;
    top: 22px;
    left: 30px;
    padding: 0 0 0 0;
    transform: rotate(45deg);
}

.imageclicker:hover {
    opacity: 0.25;
}

.checkboxInput {
    display: none;
}

.deleteIcon {
    position: absolute;
    right: 0px;
    top: 25px;
    color: var(--greydark);
    cursor: pointer;

    &:hover {
        color: var(--orange);
    }
}

.displayNone {
    display: none;
}

.unvisible {
    visibility: hidden;
}
@media (width <= 1300px) {
    .imagebox {
        grid-column: 1 /4;
        grid-row: 3/4;
    }
}

@media (width <= 768px) {
    .imagebox {
        grid-column: 1 /9;
        grid-row: 5/6;
    }
    .imageIconBox {
        border: 3px solid #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        background-color: #ccc;
    }
}
