.title p {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 1.2rem;
    color: var(--orange);
    font-weight: bolder;
    margin: 0;
}

.ingredientsbox {
    position: relative;
    grid-column: 2 /5;
    grid-row: 2/3;
    align-self: start;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    width: auto;
    min-width: 25rem;
    gap: 1rem;
}

.ingredientcontainer {
    position: relative;
    display: grid;
    grid-template-columns: 4rem 7rem 1fr 1.5rem;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.2rem;
    row-gap: 1rem;
}
.quantity {
    grid-column: 1/2;
    grid-row: 2/3;
}
.unit {
    grid-column: 2/3;
    grid-row: 2/3;
}

.quantity,
.unit {
    height: 2.5rem;
    text-align: center;
    border: 1px var(--greydark) dotted;
    border-radius: 5px;
    background-color: whitesmoke;
}

.ingredientInput {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: whitesmoke;
    width: 100%;
    height: 2.5rem;
    border: 1px var(--greydark) dotted;
    border-radius: 5px;
}

.ingredientButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #558113;
    border: 1px solid;
    border-color: rgb(233, 229, 229);
    border-radius: 10px;
    height: 22px;
    width: 50px;
    color: white;
    font-size: x-small;
    padding-left: 0px;
    margin-top: 5px;
    cursor: pointer;
}

.ingredientButton:hover {
    background-color: #81c221;
}

.quantityIngredient,
.unitIngredient,
.ingIngredient {
    box-sizing: border-box;
    color: var(--greydark);
    margin: 0;
}
.ingredientsList {
    display: grid;
    grid-template-columns: auto;
    height: 100%;
    font-size: 1rem;
    border-radius: 5px;
    justify-content: flex-end;
    align-items: center;
}

.ingredientsList {
    grid-template-columns:
        min-content
        1fr;
}
.ingredientContent {
    display: contents;
    position: relative;
    color: var(--greydark);
    height: auto;
    gap: 0.5rem;
}

.ingreUpDown,
.qtUnit {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid var(--grey);
    padding: 0.5rem 0;
}
.ingreUpDown {
    justify-content: space-between;
    padding-left: 1rem;
}
.qtUnit {
    justify-content: flex-end;
}

.upddownbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.iconAdd {
    grid-column: 4/5;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--greydark);
    color: white;
    margin-left: 5px;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 0.9rem;
    cursor: pointer;
}
.iconAdd:hover {
    background-color: var(--orange);
}
.iconDelete {
    position: relative;
    color: var(--greydark);
    cursor: pointer;
    font-size: 1.2rem;
}

.iconDelete:hover {
    color: var(--orange);
}

.up {
    transform: rotate(180deg);
}
.down {
    transform: rotate(0deg);
}
.up,
.down {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--greydark);
    border-radius: 50%;
    font-size: 20px;
    margin: 0.7rem 0.3rem;
    padding: 0.2rem;
}

.up:hover,
.down:hover {
    background-color: rgba(187, 185, 185, 0.8);
    color: var(--orange);
    cursor: pointer;
}

.quantityIngredient {
}

.unitIngredient {
    white-space: normal;
    word-break: keep-all;

    min-width: 0;
}

@media (width <= 1300px) {
    .ingredientsbox {
        grid-column: 1 /4;
        grid-row: 2/3;
    }
}
@media (width <= 768px) {
    .ingredientsbox {
        grid-column: 1 /9;
        grid-row: 2/3;
        margin: 0;
        padding: 1rem;
        min-width: 0;
    }

    .ingredientsbox p {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-left: 0;
    }
    .ingredientsList {
        margin-bottom: 2rem;
    }

    .quantityIngredient,
    .unitIngredient,
    .ingIngredient {
        box-sizing: border-box;
        color: var(--greydark);
        padding: 0;
        line-height: 2rem;
        font-size: 1rem;
    }
    .quantity {
        margin-left: 0;
    }

    .up:hover,
    .down:hover {
        background-color: transparent;
        color: var(--greydark);
        cursor: pointer;
    }
    .ingredientInput {
        grid-column: 3/5;
        position: relative;
        width: 100%;
        transition:
            width 0.3s ease,
            left 0.3s ease,
            transform 0.3s ease,
            box-shadow 0.3s ease;
        z-index: 1;
    }

    .ingredientcontainer {
        position: relative;
        display: grid;
        grid-template-columns: 4rem 7rem 1fr;
        width: 100%;
        min-height: 2.5rem;
    }

    .iconAdd {
        grid-row: 1/2;
        margin-right: 2rem;
    }
    .ingredientInput:focus {
        grid-column: 1/5;
    }
}
