.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.headbox {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}
.imageDispley {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 90vw;
    z-index: 1;
}
.prev,
.next {
    position: relative;
    padding: 1rem;
    color: white;
    background-color: rgba(124, 124, 124, 0.192);
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;

    cursor: pointer;
}

.next {
    border-radius: 5px 0 0 5px;
}
.prev {
    border-radius: 0 5px 5px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(187, 185, 185, 0.8);
}

.trashIcon,
.cancel,
.saveIcon,
.editIcon {
    color: whitesmoke;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: 0.6s ease;
    top: 25px;
    font-size: 25px;
    font-weight: lighter;
    align-items: center;
    z-index: 15;
}

.trashIcon::before,
.trashIcon::after,
.saveIcon::before,
.saveIcon::after,
.editIcon::before,
.editIcon::after,
.cancel::before,
.cancel::after {
    --scale: 0;
    position: absolute;
    font-size: 0.7rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    transition: 150ms tranform;
}

.trashIcon::before,
.saveIcon::before,
.editIcon::before,
.cancel::before {
    /* content: attr(datatooltip); */
    text-align: center;
    color: white;
    background-color: rgba(26, 25, 25, 0.911);
    border-radius: 0.3rem;
}

.trashIcon:hover::before,
.saveIcon:hover::before,
.editIcon:hover::before,
.cancel:hover:before {
    --scale: 1;
}

.cancel {
    right: 25px;
}

.editIcon,
.saveIcon {
    right: 100px;
}

.trashIcon {
    right: 185px;
}

.trashIcon:hover,
.saveIcon:hover,
.editIcon:hover,
.cancel:hover,
.cancel:focus {
    color: #999;
    background-color: rgba(255, 255, 255, 0.938);
    /* opacity: 0.9; */
    text-decoration: none;
    cursor: pointer;
}

.imageListBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 10%;
    /* overflow-x: auto; */
    opacity: 0.7;
}

.imageListBox1 {
    display: flex;
    justify-content: flex-end;

    height: 100%;
    gap: 0px;
    width: 50%;
}
.imageListBox2 {
    display: flex;
    justify-content: flex-start;
    /* overflow-x: auto; */
    height: 100%;
    gap: 0px;
    width: 50%;
}

#imagedisplayed {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

#imagedisplayed:hover {
    cursor: pointer;
}

.imageadded {
    object-fit: contain;
    width: auto;
    height: 10vh;
    margin: 1px;
    border-radius: 10px;
    opacity: 0.4;
}

.imageadded:hover {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageblock {
    position: relative;
    display: inline-block;
}

.imagePreviewed {
    object-fit: contain;
    width: auto;
    max-width: 65vw;
    height: 88vh;
}

@media (width <= 768px) {
    .trashIcon:hover,
    .saveIcon:hover,
    .editIcon:hover,
    .cancel:hover,
    .cancel:focus {
        color: whitesmoke;
        background-color: transparent;

        cursor: context-menu;
    }

    .headbox {
        justify-content: center;
    }
    .prev,
    .next {
        display: none;
    }
}
