.imageListBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: auto;
    height: 10%;
    overflow: hidden;
    opacity: 0.7;
    overflow-x: auto;
}

.imageListBox1 {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    height: 100%;
    gap: 0px;
    width: 50%;
    transition: transform 1s ease-in;
    overflow-x: auto;
}
.imageListBox2 {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    height: 100%;
    gap: 0px;
    width: 50%;
    overflow-x: auto;
}
#imagedisplayed {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}

#imagedisplayed:hover {
    cursor: pointer;
}

.imageadded {
    object-fit: contain;
    width: auto;
    height: 10vh;
    margin: 1px;
    border-radius: 10px;
    opacity: 0.4;
}

.imageadded:hover {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    cursor: pointer;
}

.trashIcon,
.cancel,
.saveIcon,
.editIcon {
    color: whitesmoke;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    top: 25px;
    font-size: 25px;
    font-weight: lighter;
    align-items: center;
    z-index: 15;
}

.trashIcon::before,
.trashIcon::after,
.saveIcon::before,
.saveIcon::after,
.editIcon::before,
.editIcon::after,
.cancel::before,
.cancel::after {
    --scale: 0;
    position: absolute;
    font-size: 0.7rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    transition: 150ms tranform;
}

.trashIcon::before,
.saveIcon::before,
.editIcon::before,
.cancel::before {
    /* content: attr(datatooltip); */
    text-align: center;

    color: white;
    background-color: rgba(26, 25, 25, 0.911);
    border-radius: 0.3rem;
}

.trashIcon:hover::before,
.saveIcon:hover::before,
.editIcon:hover::before,
.cancel:hover:before {
    --scale: 1;
}

.cancel {
    right: 25px;
}

.editIcon,
.saveIcon {
    right: 100px;
}

.trashIcon {
    right: 185px;
}

.trashIcon:hover,
.saveIcon:hover,
.editIcon:hover,
.cancel:hover,
.cancel:focus {
    color: #999;
    background-color: rgba(255, 255, 255, 0.938);

    text-decoration: none;
    cursor: pointer;
}

.main {
    display: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.headbox {
    display: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%;
}

.first_column {
    display: inline-block;
    width: 15%;
}

.imagePreviewBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 90vw;
}

.imageDispley {
    position: relative;
    z-index: 1;
}

.imagedeleteerror {
    position: absolute;
    top: 25%;
    user-select: none;
    -webkit-user-select: none;
    z-index: 3;
}

.third_column {
    position: -webkit-sticky;
    position: sticky;
    left: 1500px;
    top: 0;
    padding: 5px;
    width: 15%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: aliceblue;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    background-color: rgba(124, 124, 124, 0.192);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(187, 185, 185, 0.8);
    cursor: pointer;
}

.imagecontainer {
    display: flex;
    justify-content: center;
}

.imageblock {
    position: relative;
    display: inline-block;
}

.imagePreviewed {
    object-fit: contain;
    width: auto;
    max-width: 65vw;
    height: 88vh;
}

@media (width <= 768px) {
    .trashIcon:hover,
    .saveIcon:hover,
    .editIcon:hover,
    .cancel:hover,
    .cancel:focus {
        color: whitesmoke;
        background-color: transparent;

        cursor: context-menu;
    }
}
