.menutoggle {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 3rem;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.2rem;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 99px;
    background-color: var(--greydark);
    transition-duration: 0.25s;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
}

.hamburger > span::before {
    content: '';
    top: -6px;
}
.hamburger > span::after {
    content: '';
    top: 6px;
}

.menutoggle.isactive .hamburger > span {
    transform: rotate(45deg);
}
.menutoggle.isactive .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
}
.menutoggle.isactive .hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
}
@media (width <= 1300px) {
    .menutoggle {
        display: block;
        cursor: pointer;
    }
}
@media (max-width: 764px) {
}
