.button {
    font-size: medium;
    margin: 1px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

#buttoncurrentpage:hover,
.button:hover {
    background-color: var(--orange);
}

#buttoncurrentpage {
    color: white;
    background-color: rgba(26, 25, 25, 0.651);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
