.addedstep {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border: 0px white transparent;
    width: 100%;
    font-size: 1rem;
    gap: 2rem;
}

.stepBox {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2rem;
    grid-template-areas: 'overlay';
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    width: 100%;
    flex-grow: 1;
    gap: 1rem;
    display: inline-grid;
    background-color: white;
}
.stepContainerView {
    grid-template-columns: 1fr;
}
.stepContainer {
    grid-template-columns: 3rem 1fr 2.5rem 2.5rem;
    grid-template-areas: 'overlay';
}
.stepContainerView,
.stepContainer {
    position: relative;
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}
.title {
    /* grid-column: 1 /3; */
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.title p {
    color: var(--orange);
    font-weight: bolder;
    margin: 0;
}
.stepTextView,
.stepText {
    color: var(--greydark);
    border-radius: 15px;
    text-wrap: wrap;
}

.stepText,
.newStepText {
    min-width: 0;
    width: 100%;
    height: 8rem;
    border: 1px var(--greydark) dotted;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--whitesmoke);
    box-sizing: border-box;
}

.newStepText {
    grid-column: 1/2;
    grid-row: 2/3;
}

.stepText {
    grid-column: 2/3;
}
.stepid {
    grid-column: 1/2;
    text-align: center;
    align-content: center;
    height: 1.6rem;
    font-weight: bold;
    flex-shrink: 0;
    background-color: rgb(228, 227, 227);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-bottom: 1rem;
}

.stepIdSet {
    width: 50px;
    height: 30px;
    margin-bottom: 10px;
}
.iconBox {
    grid-column: 3/4;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}
.newStepIcon {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--greydark);
    color: white;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.newStepIcon:hover {
    background-color: var(--orange);
}
.OKIcon,
.cancelIcon,
.deleteIcon,
.editIcon {
    position: relative;
    justify-content: center;
    border-color: rgb(233, 229, 229);
    font-size: 1.2rem;
    padding-left: 0px;
    flex-shrink: 0;
}

.cancelIcon,
.deleteIcon,
.editIcon {
    cursor: pointer;
}

.deleteIcon,
.cancelIcon {
    color: var(--greydark);
}

.editIcon:hover,
.cancelIcon:hover,
.deleteIcon:hover {
    color: var(--orange);
}

.cancelIcon::before,
.cancelIcon::after,
.editIcon::before,
.editIcon::after {
    --scale: 0;
    position: absolute;
    font-size: 0.7rem;
    top: 0.1rem;
    left: 3rem;
    transform: translateX(-50%) scale(var(--scale));
    transition: 150ms tranform;
}

.cancelIcon::before,
.editIcon::before {
    content: attr(datatooltip);
    padding: 0.3rem;
    text-align: center;
    max-width: 60px;
    color: var(--greydark);
    background-color: white;
    font-weight: bold;
    border-radius: 0.3rem;
}

.cancelIcon:hover:before,
.newStepIcon:hover:before,
.editIcon:hover:before {
    --scale: 1;
}

.upddownbox {
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.up {
    transform: rotate(180deg);
}
.down {
    transform: rotate(0deg);
}
.up,
.down {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--greydark);
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    font-size: 20px;
    width: 25px;
    height: 25px;
    padding: auto;
}

.up:hover,
.down:hover {
    background-color: rgba(187, 185, 185, 0.8);
    color: var(--orange);
    cursor: pointer;
}
.buttonForNewStepText,
.buttonForStepText {
    display: none;
}
@media (width <= 768px) {
    .stepTextView {
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .stepBox {
        grid-template-columns: 1fr 4rem;
    }

    .stepBox,
    .stepContainer {
        margin: 0.5rem 0;
    }
    .stepContainer {
        grid-template-columns: 3rem 1fr 4rem 2.5rem;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
    }
    .stepid {
        grid-column: 1/2;
        grid-row: 1/2;
        font-weight: bold;
        margin-bottom: 0.2rem;
    }
    .stepText,
    .newStepText {
        min-width: 0;
        width: 100%;
    }
    .stepText,
    .buttonForStepText {
        grid-column: 1/4;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .newStepText,
    .buttonForNewStepText {
        grid-area: overlay;
        grid-column: 1/3;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .newStepIcon {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-right: 2rem;
    }
    .iconBox {
        grid-column: 3/4;
        grid-row: 1/2;
        justify-content: space-between;
        flex-direction: row;
        height: auto;
    }

    .upddownbox {
        align-items: center;
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .buttonForNewStepText,
    .buttonForStepText {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
}
