* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sidebar {
    position: absolute;
    top: 3.2rem;
    left: -300px;
    flex: 1 1 0;
    width: 150px;
    height: auto;
    padding: 1rem 1rem 0;
    background-color: var(--whitesmoke);
    border: 1px solid var(--greydark);
    transition: 0.2s linear;
}

.sidebar h3 {
    color: var(--greydark);
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.sidebar .menu {
    margin: 0 -1rem;
}

.sidebar .menu .menuItem {
    display: block;
    padding: 1em;
    color: var(--greydark);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s linear;
    font-size: 1rem;
}

.sidebar .menu .menuItem:hover,
.sidebar .menu .menuItem.isActive {
    color: var(--orange);
    border-right: 5px solid var(--orange);
}

.sidebar .menu .menuItem:hover {
    border-right: 5px solid var(--orange);
}
@media (max-width: 1024px) {
    .sidebar.isactive {
        display: block;
        left: 0;
        z-index: 4;
    }
}
