.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8rem;
    box-sizing: border-box;
}

.form {
    position: relative;
    display: grid;
    grid-template-columns: 6rem 1fr 5rem;
    gap: 0.5rem;
    align-items: center;
    max-width: 25rem;
    max-height: fit-content !important;
    background-color: white;
    padding: 1rem;
    margin: 0;
    flex: 1 1 0;
    gap: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form label {
    grid-column: 1 / 2;
    font-weight: bold;
    margin: 0;
    width: auto;
}
.form input {
    grid-column: 2 /3;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    min-width: 5rem;
    height: 2.5rem;
    border: 1px var(--greydark) dotted;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--whitesmoke);
}

.button {
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--orange);
    width: 5rem;
    height: 2.5rem;
    flex-shrink: 0;
    margin: 0;
    border-radius: 5px;
    background-color: var(--greydark);
    color: white;
    cursor: pointer;
    &:hover {
        background-color: var(--orange);

        color: white;
    }
}
.button span {
    margin-left: 1rem;
}

.errmsg {
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.offScreen {
    display: none;
}
