.urlEditView,
.newUrl {
    width: 100%;
    min-width: 200px;
    height: 2.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 10px;
    font-size: 1rem;
    background-color: whitesmoke;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: 1px var(--greydark) dotted;
    border-radius: 5px;
    background-color: var(--whitesmoke);
    padding: 10px;
}

.newUrl {
    width: 100%;
}

.urlEditView {
    width: 100%;
}

.urlid {
    grid-column: 1/2;
    text-align: center;
    align-content: center;
    height: 1.6rem;
    font-weight: bold;
    flex-shrink: 0;
    background-color: rgb(228, 227, 227);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.urlTextView {
    font-size: 1rem;
    color: var(--greyDark);
    font-style: italic;
}

a:link,
a:visited {
    text-align: start;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    text-decoration: underline;
    color: var(--orange);
}

.formLabel {
    margin: auto;
}

.urlTextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.urlrender {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.urlBox {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2rem;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    width: 100%;
    flex-grow: 1;
    gap: 1rem;

    background-color: white;
}

.urlContainer {
    position: relative;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 1rem;
}
.inputContainer {
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.newUrlIcon {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--greydark);
    color: white;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1rem;
    cursor: pointer;
}
.newUrlIcon:hover {
    background-color: var(--orange);
}

.title {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.title p {
    color: var(--orange);
    font-weight: bolder;
    margin: 0;
}
.intContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 1rem;
}

.iconBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: auto;
}

.OKIcon,
.cancelIcon,
.deleteIcon,
.editIcon {
    position: relative;
    justify-content: center;
    border-color: rgb(233, 229, 229);

    font-size: 1.2rem;
}

.cancelIcon,
.deleteIcon,
.editIcon {
    cursor: pointer;
}

.deleteIcon,
.cancelIcon {
    color: var(--greydark);
}

.editIcon:hover,
.cancelIcon:hover,
.deleteIcon:hover {
    color: var(--orange);
}

.newUrlIcon::before,
.newUrlIcon::after,
.editIcon::before,
.editIcon::after {
    --scale: 0;
    position: absolute;
    font-size: 0.7rem;
    transform: translateX(-50%) scale(var(--scale));
    transition: 150ms tranform;
}

.newUrlIcon::before,
.editIcon::before {
    content: attr(datatooltip);
    text-align: center;
    color: var(--greydark);
    background-color: white;
    font-weight: bold;
    border-radius: 0.3rem;
}

.newUrlIcon:hover:before,
.editIcon:hover:before {
    --scale: 1;
}

@media (width <= 768px) {
    .urlBox {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }
    .urlContainer {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 7rem;
        padding: 0;
    }
    .intContainer,
    .inputContainer {
        grid-column: 1 / 3;
        grid-row: 2/3;
    }
    .urlid {
        grid-column: 1 /2;
        grid-row: 1/2;
    }

    .newUrlIcon {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-right: 2rem;
    }
    .iconBox {
        grid-column: 2/3;
        grid-row: 1/2;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 2.5rem;
        gap: 2rem;
    }
}
