h3 {
    text-align: center;
    color: white;
}
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 500px;
    min-height: 300px;
    padding: 1rem;
    border-radius: 1rem;
    flex: 1 1 0;
    background-color: var(--greydark);
    box-sizing: border-box;
    & h3 {
        color: white;
        padding-bottom: 0.5rem;
    }
}
.form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    gap: 15px;
    flex: 1 1 0;
}
.user_info {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
}
.user_photo {
    grid-column: 1 / 3;
    grid-row: 1 / 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem;
}
.user_photo img {
    padding: 1rem;
    border-radius: 5px;
    display: block;
    width: 20rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 0;
}
.user_details {
    grid-column: 3 / 5;
    grid-row: 1 / 10;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 1rem;
}

.name,
.surname,
.email,
.account,
.role_row {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    width: 100%;
}

.group_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    min-width: 130px;

    margin: 0 30px 0 0;
    padding: 0.3rem 0.3rem 0.3rem 0;
    font-weight: 600;
}
.role_row label {
    padding-left: 20px;
    font-weight: 400;
}

.status_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    flex: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px !important;
    height: 20px !important;
    flex-shrink: 0;
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: rgb(1, 168, 1);
}
input:checked + .slider:before {
    transform: translateX(20px);
}

.status_text {
    font-size: 0.9rem;
    font-weight: bold;
    min-width: 80px;
    display: flex;
    align-items: center;
    line-height: 1;
    cursor: context-menu;
}

.roles {
    margin-top: 0.5rem;
    width: 100%;
}

.group_label_main {
    font-weight: bold;
    font-size: 1.05rem;
    display: block;

    color: #333;
    margin: 0;
}

.roles_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 1rem 0 1rem 0.5rem;
}

.button {
    width: 150px;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 0.6rem;
    border: 1px solid #ccc;

    background-color: var(--greydark);
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 0;
    &:hover {
        background-color: var(--orange);

        color: white;
    }
}
.cancel {
    background-color: #f9f9f9;
    color: var(--greydark);
}
.imageLoadBox {
    padding-top: 1rem;
}
.labelButton {
    margin: 0;
}
.buttonImage {
    width: 120px;
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 0.6rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: var(--greydark);
    font-size: 0.7rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    &:hover {
        background-color: var(--orange);

        color: white;
    }
}
.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0 2rem 0.5rem 2rem;
}

.hiden {
    display: none;
}
.user_details table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
}

.user_details tr:last-child > th,
.user_details tr:last-child > td {
    border-bottom: none;
}
.user_details th,
.user_details td {
    border-bottom: 1px solid #eee;

    padding: 10px;
    line-height: 1.2rem;
}
.iconSave,
.iconCancel {
    display: none;
}

.user_details > h3 {
    display: none;
}

@media (width <= 768px) {
    .main {
        min-width: 0;
        width: 100%;
        min-height: 0;
        height: 100%;
        padding: 0;
        background-color: white;
        & h3 {
            color: var(--greydark);
        }
    }
    .main > h3 {
        display: none;
    }
    .user_info {
        grid-template-columns: auto;
        width: auto;
    }

    .user_details > h3 {
        display: block !important;
        width: 100%;
        text-align: center;
        color: var(--greydark) !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .user_details {
        grid-column: 1 / 2;
        grid-row: 1 /2;
    }
    .user_photo {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        /* margin: 0; */
    }
    .user_photo img {
        border-radius: 1rem;
        display: block;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        align-self: center;
        padding: 0;
        margin-bottom: 2rem;
    }
    .form {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .button_container {
        justify-content: flex-end;
    }
    .button_container .iconSave,
    .button_container .iconCancel {
        display: none;
        color: rgba(26, 25, 25, 0.911);
        background-color: rgb(228, 227, 227);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;
        border: transparent;
        border-radius: 50%;
        font-size: 25px;
        font-weight: lighter;
        z-index: 15;
    }
    .iconSave {
        margin: 0;
        margin-right: 4rem;
    }

    .iconCancel {
        margin-right: 1rem;
    }
    .button {
        display: none;
    }
}
