h3 {
    text-align: center;
    color: white;
}
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    min-height: auto;
    flex: 1 1 0;
    box-sizing: border-box;
    overflow-y: auto;
}
.form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    min-height: 300px;
    background-color: var(--greydark);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: 0;
    padding: 0;
    flex: 1 1 0;
    overflow-y: auto;
    & h4:nth-last-of-type(1) {
        color: var(--greydark);
        display: none;
    }
    & h4:nth-last-of-type(2) {
        color: white;
    }
}
.user_info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 100%;
}
.user_photo {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin: 3.5rem 2rem 1rem 2rem;
}
.user_photo img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    align-self: center;
    border-radius: 1rem;
    padding: 0;
}
.user_details {
    position: relative;
    color: var(--greydark);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem 0.5rem 1rem 0;
}
.user_details table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
}

.user_details tr:last-child > th,
.user_details tr:last-child > td {
    border-bottom: none;
}
.user_details th,
.user_details td {
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
    padding: 10px;
    line-height: 1.2rem;
}

.details {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}

.role_row label {
    padding-left: 20px;
    font-weight: 400;
}

.status_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    flex: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px !important;
    height: 20px !important;
    flex-shrink: 0;
    margin: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: rgb(1, 168, 1);
}
input:checked + .slider:before {
    transform: translateX(20px);
}

.status_text {
    font-size: 0.9rem;
    font-weight: bold;
    min-width: 80px;
    display: flex;
    align-items: center;
    line-height: 1;
    cursor: context-menu;
}

.roles {
    margin-top: 0.5rem;
    width: 100%;
}

.group_label_main {
    font-weight: bold;
    font-size: 1.05rem;
    display: block;
    padding: 0.2rem 0.5rem;
    color: #333;
    margin: 0;
}

.roles_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    width: 100%;
    background-color: white;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 1rem 0 1rem 0.5rem;
}

.button {
    width: 150px;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.6rem;
    border: 1px solid #ccc;

    background-color: var(--greydark);
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 0;
    &:hover {
        background-color: var(--orange);

        color: white;
    }
}
.cancel {
    background-color: #f9f9f9;
    color: var(--greydark);
}
.imageLoadBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.imageIcon {
    font-size: 1.3rem;
    cursor: pointer;
    margin: 0;
}
.imageIcon:hover {
    color: var(--orange);
}
.buttonImage {
    width: 120px;
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 0.6rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: var(--greydark);
    font-size: 0.7rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
    &:hover {
        background-color: var(--orange);

        color: white;
    }
}
.errmsg {
    position: absolute;
    top: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    width: fit-content;
    padding: 0.5rem;
    text-wrap: nowrap;
    margin: 0;
}

.hiden {
    display: none;
}
.iconSave,
.iconCancel {
    display: none;
}
@media (width <= 900px) {
    .user_info {
        grid-template-columns: auto;
        width: auto;
        margin-bottom: 2rem;
    }
}

@media (width <= 768px) {
    .user_info {
        flex-direction: column;
    }

    .form {
        width: 100%;
        height: 100%;
        border-radius: 0;
        flex-direction: column-reverse;
        background-color: white;
        & h4:nth-last-of-type(1) {
            color: var(--greydark);
            display: inline;
        }
        & h4:nth-last-of-type(2) {
            color: white;
            display: none;
        }
    }
    .button_container {
        justify-content: flex-end;
    }
    .button_container .iconSave,
    .button_container .iconCancel {
        display: none;
        color: rgba(26, 25, 25, 0.911);
        background-color: rgb(228, 227, 227);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;
        border: transparent;
        border-radius: 50%;
        font-size: 25px;
        font-weight: lighter;
        z-index: 15;
    }
    .iconSave {
        margin: 0;
        margin-right: 4rem;
    }

    .iconCancel {
        margin-right: 1rem;
    }
    .button {
        display: none;
    }
    .imageIcon:hover {
        color: var(--greydark);
    }
    .imageLoadBox {
        border: 3px solid #ffffff;
        margin-top: 1rem;
        background-color: rgb(228, 227, 227);
    }
    .user_details {
        padding: 0 0.5rem;
    }
    .user_photo {
        margin: 3rem 2rem 1rem;
    }
}
