.buttonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    justify-content: flex-end;
}

.fooodbox {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--whitesmoke);
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
}

.fooodboxMidpanel {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: min-content min-content 1fr;
    align-items: stretch;
    align-content: stretch;
    background-color: white;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    border-left: var(--border3px);
    border-right: var(--border3px);
    flex: 1 1 0;
    overflow-y: auto;
}

.fooodnamebox {
    grid-column: 2 /9;
    grid-row: 1/2;
    z-index: 1;
    margin: 30px 5px 50px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    border: 0 solid;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    padding-bottom: 0;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}

.imagebox {
    margin-top: 40px;
}

.image {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.food {
    margin: 0px 0px 10px 20px;
}

.foodMaso {
    margin: 0px 0px 10px 40px;
}

.food:hover {
    text-decoration: underline;
}

.checkboxInput:checked + .label {
    font-weight: bold;
    text-decoration: underline;
    font-size: 12px;
    color: var(--orange);
}

.inputlabel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 12px;
    font-weight: bold;
    vertical-align: baseline;
    cursor: pointer;
}

.label:hover {
    text-decoration: underline;
    font-size: 12px;
    color: var(--orange);
    font-weight: bold;
}

#display-image {
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

.imageinput {
    margin: 10px 0 10px 0;
    cursor: pointer;
}

input[type='file'] {
    display: none;
}

.imagePreview {
    width: 300px;
    height: 300px;
    min-height: 100px;
    min-width: 100px;
    border: 2px solid #dddddd;
    margin: 15px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;
    color: #cccccc;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
}

#images {
    width: 300px;
    height: 300px;
    min-height: 100px;
    min-width: 100px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    flex-wrap: wrap;
}

figure {
    width: 45%;
}

img {
    width: 100%;
}

.thirdColumn {
    position: relative;
    grid-column: 5 / 9;
    grid-row: 2/4;
    background-color: rgb(255, 255, 255);
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    border-radius: 10px;
    height: auto;
    align-self: start;
}

.name {
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--orange);
    text-align: center;
    padding: auto;
    margin: 0 0.5rem;
}

.foodname {
    width: 40rem;
    height: 2.5rem;
    border: 1px var(--greydark) dotted;
    background-color: var(--whitesmoke);
    border-radius: 5px;
    padding: 0.2rem;
    overflow-wrap: break-word;
    font-size: 1rem;
    text-align: center;
}

.foodnameView {
    width: 100%;
    max-width: 40rem;
    color: var(--orange);
    font-size: 2.5rem;
    margin-top: 20px;
}

label {
    margin: 10px;
}

.timesIngredient {
    box-sizing: border-box;
    text-align: right;
    width: 50px;
}

.unitIngredient {
    width: 55px;
    padding-left: 5px;
}

.ingIngredient {
    width: 110px;
}

.loadingIcon {
    font-size: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: grey;
}

.loadingContainer {
    width: auto;
    flex-grow: 1;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 0.7rem;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 1.3;
}

.foodButton:hover {
    color: var(--orange);
}

#foodButtonDelete:hover {
    color: red;
}

.foodButton {
    position: relative;
    justify-content: center;
    border-color: rgb(233, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding-left: 0px;
    width: 3rem;
    color: var(--greydark);
    cursor: pointer;
}

#foodButtonSave:hover {
    color: #558113;
}

.panel {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 3px solid var(--greydark);
    align-items: center;
    z-index: 5;
    background-color: white;
    width: 100%;
    height: 3rem;
}

.messagebox {
    margin-left: var(--marginLeft);
    left: 0px;
    top: 0px;
    color: red;
}

.ingreProcedureBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.urlInputContainer {
    height: 30px;
    background-color: rgb(216, 216, 216);
    padding: 0 0 0 10px;
    border-radius: 13px;
}

.title p {
    font-size: 1.2rem;
    color: var(--orange);
    font-weight: bolder;
    margin-left: var(--marginLeft);
    margin-bottom: 1rem;
}

.unvisible {
    visibility: hidden;
}

.leftpanel {
    position: sticky;
    top: 400px;
}

@media (width <= 1300px) {
    .fooodnamebox {
        grid-column: 1 /9;
        grid-row: 1/2;
    }
    .thirdColumn {
        grid-column: 4 / 9;
        grid-row: 2/4;
    }
}
@media (width <= 768px) {
    .foodname {
        width: 0;
        width: 100%;
    }
    .name {
        font-size: 1rem;
        margin: 1rem 0;
    }
    .fooodnamebox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 3rem 0 0;
        padding: 0 1rem;
    }
    .thirdColumn {
        grid-column: 1 / 9;
        grid-row: 3/4;
    }
    .foodnameView {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .title {
        grid-column: 1 /2;
        grid-row: 1/2;
    }
    .title p {
        font-size: 1rem;

        margin-left: var(--marginLeft);
        margin-top: 1rem;
    }

    .date {
        font-size: 0.6rem;
    }

    .fooodboxMidpanel {
        grid-template-rows: min-content min-content min-content;
    }
    .panel {
        top: 0;
    }
}
