.loadingContainer {
    position: relative;
    top: 70px;
    width: auto;
    height: 100px;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingIcon {
    font-size: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: grey;
}
