.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1 1 0;
    box-sizing: border-box;
    border-left: var(--border3px);
    border-right: var(--border3px);
}

.submitContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: var(--border3px);
    border-right: var(--border3px);
    flex: 1 1 0;
    box-sizing: border-box;
}
.registerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    flex: 1 1 0;
    box-sizing: border-box;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100rem;
    height: 100%;
    background-color: white;
    margin: 0;
    flex: 1 1 0;
    & p {
        margin: 2rem 0 1rem 0;
        text-wrap: wrap;
        & span {
            margin: 0.5rem 0;
        }
    }
}

.inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 25rem;
    height: auto;
    flex-shrink: 1;
    box-sizing: border-box;
    padding: 0 1rem;
    flex-basis: auto;
}

.inputBox {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    flex: 1 0 auto;
}
.inputBox label {
    top: -1.4rem;
    position: absolute;
    font-size: 0.7rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    margin: 0;
    width: 100%;
}
.inputBox .input {
    background-color: rgb(248, 245, 245);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 3rem;
    width: 100%;
    border: 1px var(--greydark) dotted;
}
.inputBox .valid {
    position: absolute;
    color: rgba(124, 124, 124, 0.623);
    right: 0.4rem;
    cursor: pointer;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.invalid {
    color: red;
    margin-left: 0.25rem;
}
.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.hide {
    display: none;
}
.offScreen {
    display: none;
}

.instructions {
    position: absolute;
    top: 38px;

    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    width: 280px;
    z-index: 1;
}

.instructions > svg {
    margin-right: 0.25rem;
}
.line {
    display: inline-block;
    justify-content: inherit;
    align-items: inherit;
}
.line > a {
    color: rgb(0, 47, 255);
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--orange);
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    margin-top: 2rem;
    background-color: var(--greydark);
    color: white;
    cursor: pointer;
    &:hover {
        background-color: var(--orange);

        color: white;
    }
}
.button span {
    margin-left: 1rem;
}
.loadingContainer {
    position: relative;
    top: 70px;
    width: auto;
    height: 100px;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingIcon {
    font-size: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: grey;
}
.offscreen {
    position: absolute;
    left: -9999px;
}
.onscreen > h5:first-child {
    margin: 35px 0 5px 0;
}

.onscreen > h5:nth-child(3) {
    margin: 5px 0 55px 0;
}

.panel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid var(--greydark);
    align-items: center;
    z-index: 5;
    background-color: white;
    width: 100dvw;
    height: 3rem;
}
.messagebox {
    margin-left: var(--marginLeft);
    left: 0px;
    top: 0px;
    color: red;
}

.foodButton {
    font-size: 18px;
    padding: 5px 20px 5px 0px;
    cursor: pointer;
}

.foodButton:hover {
    color: var(--orange);
}

.foodButton {
    position: relative;
    justify-content: center;
    border-color: rgb(233, 229, 229);
    font-size: 20px;
    padding-left: 0px;
    margin-top: 2px;
    margin: 0 5px 0 5px;
    color: var(--greydark);
}

@media (width <= 768px) {
    .form {
        padding-top: 3rem;
        width: 100dvw;
        height: 100%;

        justify-content: flex-start;
    }

    .submitContainer {
        border-left: none;
        border-right: none;
        width: 100dvw;
    }

    .inputBox input {
        width: 100%;
    }

    .inputBox textarea {
        height: 15rem;
    }
    .form h1 {
        font-size: 1.5rem;
    }

    .foodButton {
        padding-right: 40px;
    }
}
