.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}

.loginContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    flex: 1 1 0;
    box-sizing: border-box;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
    flex: 1 1 0;
    & p {
        margin: 2rem 0 1rem 0;
        text-wrap: wrap;
        & span {
            margin: 0.5rem 0;
        }
    }
}
.inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 35rem;
    height: auto;
    flex-shrink: 1;
    box-sizing: border-box;
    padding: 0 1rem;
    flex-basis: auto;
}
.inputContainer label {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
    width: 100%;
}
.inputBox {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 auto;
}
.inputBox .input {
    background-color: rgb(248, 245, 245);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 3rem;
    width: 100%;
    border: 1px var(--greydark) dotted;
}
.inputBox .valid {
    position: absolute;
    color: rgba(124, 124, 124, 0.623);
    right: 0.4rem;
    cursor: pointer;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.invalid {
    color: red;
    margin-left: 0.25rem;
}
.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.hide {
    display: none;
}
.offScreen {
    display: none;
}
.persistCheck {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    display: inline-block;
    justify-content: inherit;
    align-items: inherit;
}
.line > a {
    color: rgb(0, 47, 255);
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--orange);
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    margin-top: 2rem;
    background-color: var(--greydark);
    color: white;
    cursor: pointer;
    &:hover {
        background-color: var(--orange);

        color: white;
    }
}
.button span {
    margin-left: 1rem;
}

@media (width <= 1700px) {
    .form {
        width: 100dvw;
    }

    .loginContainer {
        border-left: none;
        border-right: none;

        width: 100dvw;
    }
    .inputBox input {
        width: 100%;
    }
    .form h1 {
        font-size: 1.5rem;
    }
}
