*,
*::before,
*::after {
    box-sizing: border-box;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-grow: 1;
    box-sizing: border-box;
}

.panel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid var(--greydark);
    align-items: center;
    z-index: 5;
    background-color: white;
    width: 100%;
    height: 3rem;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100rem;
    height: 100%;
    background-color: white;
    padding-top: 2rem;
    top: 0;
    margin: 0;
    flex: 1 1 0;
    & h3 {
        color: var(--greydark);
        font-size: 1rem;
    }
    & h2 {
        color: var(--greydark);
        font-size: 1.2rem;
    }
}

.messagebox {
    margin-left: var(--marginLeft);
    left: 0px;
    top: 0px;
    color: red;
}

.submitContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: var(--border3px);
    border-right: var(--border3px);
    flex: 1 1 0;
    box-sizing: border-box;
    height: 100%;
}

.offScreen {
    display: none;
}

.inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 35rem;
    height: auto;
    /* flex-shrink: 1; */
    box-sizing: border-box;
    padding: 0 2rem;
    flex-basis: auto;
}
.inputBox {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    flex: 1 0 auto;
}

.inputContainer label {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
    width: 100%;
}

.inputBox input {
    background-color: rgb(248, 245, 245);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 3rem;
    width: 100%;
    border: 1px var(--greydark) dotted;
}

.inputBox textarea {
    background-color: rgb(248, 245, 245);
    border: 1px var(--greydark) dotted;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.hide {
    display: none;
}
.invalid {
    color: red;
    margin-left: 0.25rem;
}
.valid {
    color: limegreen;
    margin-left: 0.25rem;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--orange);
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    margin-top: 2rem;
    background-color: var(--greydark);
    color: white;
    cursor: pointer;
    &:hover {
        background-color: var(--orange);

        color: white;
    }
}
.button span {
    margin-left: 1rem;
}

.instructions {
    position: absolute;
    top: 3.2rem;
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    width: 100%;
    z-index: 1;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.foodButton {
    font-size: 18px;
    padding: 5px 20px 5px 0px;
    cursor: pointer;
}

.foodButton:hover {
    color: var(--orange);
}

.foodButton {
    position: relative;
    justify-content: center;
    border-color: rgb(233, 229, 229);
    font-size: 20px;
    padding-left: 0px;
    margin-top: 2px;
    margin: 0 5px 0 5px;
}

.foodButton {
    color: var(--greydark);
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.loadingIcon {
    font-size: 3rem;
}

@media (width <= 768px) {
    .form {
        justify-content: flex-start;
        width: 100dvw;
        height: 100%;
        & h3 {
            font-size: 1rem;
        }
        & h2 {
            font-size: 1.2rem;
        }
    }

    .form .submitContainer {
        border-left: none;
        border-right: none;
        width: 100dvw;
    }

    .inputBox input {
        width: 100%;
    }

    .inputBox textarea {
        height: 10rem;
    }

    .foodButton {
        padding-right: 40px;
    }
}
