.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    height: auto;
    width: 100%;
    flex-grow: 1;
    background-color: var(--whitesmoke);
}

.image {
    display: block;
    position: relative;
    height: 100%;
    width: 70%;
    object-fit: cover;
    padding: 0.2rem 0;
}
.banner {
    width: 100%;
    height: 10rem;
    background-color: var(--greydark);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    z-index: 10;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100rem;
    font-size: 2rem;
    border-top: 3px solid var(--greydark);
    border-bottom: 3px solid var(--greydark);
    font-weight: bold;
    text-align: center;
    background-color: var(--greydark);
    z-index: 11;
}
.container span {
    width: 30%;
    font-size: 2.2rem;
    font-weight: 400;
    color: white;
    font-family: var(--font-lobster);
}
@media (width <= 768px) {
    .image {
        display: none;
    }
    .banner {
        height: 5rem;
    }
    .container {
        background-color: var(--greydark);
        justify-content: center;
        font-weight: normal;
    }
    .container span {
        font-size: 1.3rem;
    }
}
