.App {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 1000px;
}

.Appheader {
    width: 100%;
    top: 0px;
    background-color: var(--greydark);
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: bisque;
    font-style: italic;
}
