.modalWrapper {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(124, 124, 124, 0.623);
}

.modal {
  position: fixed;
 top: 200px;
  width: auto;
}
