.loadingIcon {

    font-size: 3rem;
    /* color: rgb(83, 75, 75); */
    color:white;

}

.loadingBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(124, 124, 124, 0);
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    min-height: 300px;
    background-color: white;
}

h3 {

    text-align: center;
    color: #0f1111;

}

.saveIcon {
    font-size: 3rem;
    color: #558113;
}

.errorIcon {

    font-size: 70px;
    color: red;
}



/* CSS */
.button13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

/* .button13:hover {
    background-color: #4ba5a5;
} */
#yes_button13:hover {
    background-color: rgb(235, 153, 153);
}
#nobutton13:hover {
    background-color: rgb(154, 194, 121);
}

