.modalWrapper {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(124, 124, 124, 0.089);
    z-index: 100;
}

.modal {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
    overflow-y: auto;
    margin-top: 3.45rem;
    margin-right: 0.7rem;
}

@media (width <= 768px) {
    .modalWrapper {
        background-color: white;
        align-items: center;
    }
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        overflow-y: auto;
        z-index: 100;
    }
}
