.modalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(124, 124, 124, 0.623);
    z-index: 100;
}

.modal {
    max-width: auto;
}
