.modalWrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: white;
    z-index: 100;
}

.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    overflow-y: auto;
    z-index: 100;
}
