.foodItemBox {
    position: relative;
    height: 70vh;
    width: 80vw;
}


.foodItemList {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow :auto ;
}
.unvisible{
    visibility: hidden;
  }