.foodItemBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: 40px;
    /* padding-right: 0; */

}


.foodItemList {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.unvisible {
    visibility: hidden;
}