header{
    background-color: aquamarine;
  }
  .App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1000px;
  }
  
  .Appheader {
    position: sticky;
    width: 100%;
    top: 0px;
    background-color: rgb(63, 64, 73);
    display: flex;
    justify-content: center;
    font-size: 32px;
    /* font-weight: bold; */
    color: bisque;
  
    font-style: italic;
   
  
  }
