.imagebox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.foodimage {
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 5px;
    z-index: 1;
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageclicker {
    position: absolute;
    background-color: black;
    border-radius: 15px;
    opacity: 0;
    z-index: 2;
    min-width: 100px;
    min-height: 100px;
}

.imagecross {
    position: absolute;
    color: white;
    z-index: 3;
    font-size: 50px;
    top: 22px;
    left: 30px;
    padding: 0 0 0 0;
    transform: rotate(45deg);

}

.imageclicker:hover {
    opacity: 0.25;
}


.checkboxInput {
    display: none;
}

.deleteIcon {
    position: absolute;
    right: 0px;
    top: 25px;
    color: var(--greydark);
    cursor: pointer;

    &:hover {
        color: orange;
    }
}

.displayNone {
    display: none;
}

.unvisible {
    /* position: absolute;
    left: -9999px; */
    visibility: hidden;
}