body {
  font-family: black, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.times,
.unit {
  height: 25px;

  border: 1px grey dotted;
  border-radius: 5px;
  background-color: whitesmoke;
}

.times {
 
  width: 50px;

  margin-left: 5px;
  margin-right: 5px;
}
.ingredientInput {
  background-color: whitesmoke;
  width: 200px;
  min-width: 120px;
  height: 25px;
  border: 1px grey dotted;
  border-radius: 5px;
  /* font-size: 16px; */
  margin-top: 5px;
  margin-left: 5px;
}
.ingredientButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #558113;
  border: 1px solid;
  border-color: rgb(233, 229, 229);
  border-radius: 10px;
  height: 22px;
  width: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  color: white;
  font-size: x-small;
  padding-left: 0px;
  margin-top: 5px;
  cursor: pointer;
}

.ingredientButton:hover {
  background-color: #81c221;
}

.timesIngredient, .unitIngredient, .ingIngredient,
.firstline {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* font-size: 16px; */
  /* color: green; */
  padding: 5px;
}

.firstline{  color: green;
  padding: 10px;

  border-bottom: 1px solid grey;}

.ingredient{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  color: rgb(68, 68, 68);
  margin-top:5px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.ingredientIcon{  
  color: rgb(68, 68, 68);
  cursor: pointer;}

  .ingredientIcon:hover {
    color: orange;
  }

  .ingredientsList{
    font-size: 0.8rem;
  }

  .up,
.down {
  transform: rotate(-90deg);
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  /* display: flex;
  align-items: center; */
  justify-content: center;
  color: rgb(68, 68, 68);
  /* padding-top: 5px;
  padding-bottom: 5px; */
  /* padding: 5px; */
  /* transition: 0.6s ease; */
  /* border-radius: .3rem; */
  border-radius: 50%;
  /* user-select: none;
  -webkit-user-select: none; */
  font-size: 20px;
  width: 25px;
  height: 25px;
  margin: 5px 0 5px 0;

}

.up:hover,
.down:hover {
  background-color: rgba(187, 185, 185, 0.8);
  color: orange;
  cursor: pointer;
}

.timesIngredient,.unitIngredient,.ingIngredient  {color: rgb(68, 68, 68);}
.timesIngredient {
  box-sizing: border-box;
  text-align: right;
  width: 35px;
  
}

.unitIngredient {
  width: 55px;
  padding-left: 5px;
}

.ingIngredient {
  width: 110px;
}