
.foodtypesbox {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    /* background-color: rgb(245, 214, 173); */
    min-width: 170px;

}

.food {
    margin: 0px 0px 10px 20px;
}

.image {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.checkboxInput:checked+.label {
    font-weight: bold;
    text-decoration: underline;
    font-size: 10px;
    color: orange;
    font-weight: bold;

}

.label {
    font-size: 10px;
    font-weight: bold;
    vertical-align: baseline;
    cursor: pointer;
    min-width: 100px;
    display: inline-block;
}

.label:hover {color: orange;}
.foodMaso {
    margin: 0px 0px 10px 40px;
}

.tagQuantity{
    font-size: 8px;
}

.inputbox{
    /* display: flex; */
    justify-content:space-between;
    /* flex-direction: column; */
}