:root {
    --whitesmoke: whitesmoke;
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #b8babb;
    --border-radius: 8px;
    --speed: 500ms;
    --transDuration: 0.3s;
}

.firstColumn {

    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 210px;
    /* flex-grow: 1; */

    border-right: var(--border3px);
}

.displayNoN {
    display: none;
}

.food {
    margin: 0px 0px 0px 0px;
}

.image {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}



/* .checkboxInput:checked+.label {
    color: orange;
} */


.buttonEdit {
    cursor: pointer;
}
.buttonUser{
        cursor: pointer;
}

.buttonUser::before {
    position: absolute;
    content: "";
    background-color: white;
    border: 1px solid grey;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 6.5px;
    /* margin-top: 10px; */
}

.buttonUser::after
 {
    position: absolute;
    content: "";
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(50%);
}
.checkboxInput:checked+.buttonUser::before {
    position: absolute;
    content: "";
    background-color: white;
    border: 1px solid orange;
    width: 12px;
    height: 12px;
    border-radius: 6.5px;
}

.checkboxInput:checked+.buttonUser::after{
    position: absolute;
    content: "";
    background-color: orange;
    left: 0x;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    transform: translateY(3px)translateX(3px);
}






.buttonView::before,
.buttonEdit::before {
    position: absolute;
    content: "";
    background-color: white;
    border: 1px solid grey;
    left: 30px;
    top: 0px;
    width: 12px;
    height: 12px;
    border-radius: 6.5px;
    margin-top: 10px;
}

.buttonView::after,
.buttonEdit::after {
    position: absolute;
    content: "";
    left: 30px;
    top: 0px;
    margin-top: 10px;
    transform: translateY(1px)translateX(1px);
}

.checkboxInput:checked+.buttonView::before,
.checkboxInput:checked+.buttonEdit::before {
    position: absolute;
    content: "";
    background-color: white;
    border: 1px solid orange;
    width: 12px;
    height: 12px;
    border-radius: 6.5px;
}

.checkboxInput:checked+.buttonView::after,
.checkboxInput:checked+.buttonEdit::after {
    position: absolute;
    content: "";
    background-color: orange;
    left: 0x;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    transform: translateY(3px)translateX(3px);
}

.checkboxContainer,
.checkboxContainerView {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 36px;
    align-items: center;
    padding: auto;
    border-bottom: solid 1px;
    border-bottom: var(--border);
}

.checkboxContainerView:nth-of-type(2),
.checkboxContainer:nth-of-type(2) {
    border-top: solid 1px;
    border-top: var(--border);
}


/* .orderinglabel{
    justify-content: flex-start;
    padding-left: 25px;
    font-weight: bold;
  
} */


.checkboxContainer {
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 228, 177);
    }
}



.checkboxContainerChild,
.checkboxContainerChildView {
    display: flex;
    position: relative;
    justify-content: flex-start;
    height: 34px;
    align-items: center;
    padding: auto;
    color: var(--greydark);
}

.checkboxContainerChild:hover {
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 246, 228);
        color: orange;
    }
}


.checkboxContainerChild:nth-last-child(1),
.checkboxContainerChildView:nth-last-child(1) {
    border-bottom: solid 1px;
    border-bottom: var(--border)
}



.labelView,
.labelEdit,
.labelfoods {
    position: absolute;
    font-size: 12px;
    margin-top: 12px;
    margin-left: 55px;
    height: 26px;

}


.labelParentsActive,
.labelParentsNoNActive {
    position: absolute;
    font-size: 14px;
    min-width: 180px;

}

.labelParentsActive {
    color: orange;
    font-weight: bold;
}


.down,
.up {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;

    justify-content: center;
    color: rgb(68, 68, 68);
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    font-size: 14px;
    width: 25px;
    height: 25px;
    padding: auto;
}

.up {
    transform: rotate(-90deg);
    transition-duration: var(--transDuration);
}

.down {
    transform: rotate(90deg);
    transition-duration: var(--transDuration);
}

/* .checkboxInput{ &:checked+ .button::after{display:inline;background-color: orange;}} */

.checkboxInput:checked~.labelEdit {
    color: black;
}

.checkboxInput:checked~.labelView {
    color: black;
}

.labelfoods {
    color: black;
}

.labelEdit,
.labelView {
    color: rgb(157, 156, 156)
}

.labelEdit,
.labelfoods {
    cursor: pointer;

    &:hover {
        color: orange;
    }
}


.checkboxInput {
    display: none;
}

.tagQuantity {
    font-size: 8px;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding-top: 5px;
}

.select_container {}

.select_body {
    position: relative;
    right: 0;
    width: 205px;
    height: 35px;
    margin: 5px 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select_body select {
    height: 100%;
    width: 100%;
    font-size: 14px;
    border-right: none;
    border-left: none;
    border-top: solid 1px;
    border-top: var(--border);
    border-bottom: solid 1px;
    border-bottom: var(--border);
    appearance: none;
    padding: 0 30px 0 25px;
    color: black;
    cursor: pointer;
    background-color: white;
}


.select_container label {
    color: black;
    font-size: 14px;
    text-align: center;
    padding-left: 15px;
}

.select_icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: var(--transDuration);
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: center;
    pointer-events: none;
    font-size: 14px;
    color: var(--greydark);
}

.icon_up {

    transform: rotate(-90deg);
    transition-duration: var(--transDuration);
}

.icon_down {

    transform: rotate(90deg);
    transition-duration: var(--transDuration);
}

.checkBoxOpenner table {
    width: 180px;
    border-spacing: 0;
    border-collapse: collapse;
}

.checkBoxOpenner tr {
    cursor: pointer;
    &:hover {
        background-color: rgb(255, 228, 177);
    }
}

.checkBoxOpenner td {
    position: relative;
    padding-left: 5px;
}