.imageListBox {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: auto;
  /* max-width: 100vw; */
  max-height: 10vh;
  overflow: hidden;
  opacity: 0.7;
}

.imageListBox1{
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: flex-end;
  /* align-items: center; */
  overflow: hidden;
  max-height: 10vh;
  gap: 0px;
  width: 50%;
  transition: transform 1s ease-in;
}
.imageListBox2{
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: flex-start;
  /* align-items: center; */
  overflow: hidden;
  max-height: 10vh;
  gap: 0px;
  width: 50%;

}
#imagedisplayed {
  /* width: 10vw;
  height: 10vh;
  margin: 3px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}

#imagedisplayed:hover {
  cursor: pointer
}

.imageadded {
  object-fit: contain;
  width: auto;
  height: 10vh;
  margin: 1px;
border-radius: 10px;
  /* background-color: white; */
  opacity: 0.4;
}

.imageadded:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  cursor: pointer
}


.trashIcon,
.cancel,
.saveIcon,
.editIcon {
  color: whitesmoke;
  position: absolute;
  width: 25px;
  top: 25px;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
  /* transform: translateX(50%) */
  /* margin:0 10px 0 10px; */
}

/* .imagePreviewBox::before,
.imagePreviewBox::after, */
.trashIcon::before,
.trashIcon::after,
.saveIcon::before,
.saveIcon::after,
.editIcon::before,
.editIcon::after,
.cancel::before,
.cancel::after {
  --scale: 0;
  position: absolute;
  font-size: .7rem;
  top: 2rem;
  left:50%;
  transform: translateX(-50%)scale(var(--scale));
  transition: 150ms tranform;
}

/* .imagePreviewBox::before, */
.trashIcon::before,
.saveIcon::before,
.editIcon::before,
.cancel::before {
  content: attr(datatooltip);
  /* padding: .3rem; */
  text-align: center;
  /* width: max-content; */
  max-width: 60px;
  color: white;
  background-color: #333;
  border-radius: .3rem;

}

/* .imagePreviewBox:hover::before, */
.trashIcon:hover::before,
.saveIcon:hover::before,
.editIcon:hover::before,
.cancel:hover:before {
  --scale: 1;
}

.cancel {
  right: 25px;
}

.editIcon,
.saveIcon {
  right: 75px;
}

.trashIcon {
  right: 125px;
}

.trashIcon:hover,
.saveIcon:hover,
.editIcon:hover,
.cancel:hover,
.cancel:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
/* #prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
} */
/* Position the "next button" to the right */
/* #next {
    right: 0;
    border-radius: 3px 0 0 3px;
  } */

/* On hover, add a black background color with a little bit see-through */
/* #prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  } */
/* Number text (1/3 etc) */
/* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */

/* The Close Button */
/* #close {
    color: white;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 25px;
    font-weight: bold;
  } */

/* #close:hover,
#close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
} */
/* .cursor {
    cursor: pointer;
  } */
.mainbox {
  display: relative;
  flex-direction: column;
}

.headbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}

.first_column {
  display: inline-block;
  width: 15%;

  /* background-color: blue; */
}

.second_column {}

.imagePreviewBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 90vw;
  
  /* position: relative; */
}

.imageDispley {
  /* width: 100%;
  height: 100%; */
  position: relative;
  z-index: 1;
}

.imagedeleteerror {
  position: absolute;
  top: 25%;
  /* left: 50%; */
  user-select: none;
  -webkit-user-select: none;
  z-index: 3
}

.third_column {
  position: -webkit-sticky;
  position: sticky;
  /* display: inline-block; */
  left: 1500px;
  top: 0;
  padding: 5px;
  width: 15%;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* background-color: blue; */
  color: aliceblue;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  background-color: rgba(124, 124, 124, 0.192);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  /* border-radius: 50%; */
  user-select: none;
  -webkit-user-select: none;
  border-radius: 0 3px 3px 0;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(187, 185, 185, 0.8);
  cursor: pointer;
}

.imagebox {
  display: flex;
  justify-content: center;
}

.imageblock {
  position: relative;
  display: inline-block;

}

.imagePreviewed {
  object-fit: contain;
  width: auto;
  max-width: 65vw;
  height: 88vh;
  /* margin: 3px; */
  /* background-color: rgba(26, 25, 25, 0.911); */
  /* margin-top: 1px; */
}