.step {
    width: 670px;
    border: 1px grey dotted;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    background-color: whitesmoke;
  }

.addedstep {
    width: 670px;
    border: 0px white transparent;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: whitesmoke;
    
  }

.ingredientButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #558113;
    border: 1px solid;
    border-color: rgb(233, 229, 229);
    border-radius: 10px;
    height: 22px;
    width: 50px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
    color: white;
    font-size: x-small;
    padding-left: 0px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .ingredientButton:hover {
    background-color: #81c221;
  }