.main {
    display: flex;
    min-width: 100vw;
    /* min-height: 100vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem 0.5rem;
    /* background-color: rgb(228, 249, 255); */
    /* background-image: url(D:\SCRIPTS\filka-website\filka-website\src\image\1685519116-asian-cuisine-ingredients-food-background-ginger-2023-05-09-20-34-33-utc.webp);
    background-size: cover; */
}


.label{
    font-size: 1rem;
}


.inputPreFilled{
    font-size: 1rem;
    border: 1px solid whitesmoke;
    width: 200px;
}

.input,
button
{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    /* color: #fff; */
    position: relative;
}
button {
    padding: 0.5rem;
}

label,
button {
    margin-top: 1rem;
}

.inputbox {
    position: relative;
}

.instructions {
    position: absolute;
    top: 38px;
    /* z-index:100; */
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    /* position: relative; */
    /* bottom: 40px; */
    width: 280px;
    z-index: 1;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.onscreen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}