.searchMain {
  display: flex;
  flex-direction: column;
}
.searchBox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-flow:row wrap;
  margin: 0 0 10px 10px;
}
.searchInput {
  border: 1px solid whitesmoke;
  background-color:  whitesmoke;;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 25px;
  width: 200px;
  font-family: rgb(95, 93, 93), "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande";
  
  font-size: 16px;
  padding-left: 10px;
  outline: none !important;
}
.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  
  border-color: rgb(233, 229, 229);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 25px;
  width: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  color: rgb(95, 93, 93);
  font-size: 12px;
  padding-left: 0px;
  cursor: pointer;
}

/* .searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #558113;
  border: 1px solid;
  border-color: rgb(233, 229, 229);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 27px;
  width: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  color: white;
  font-size: 14px;
  padding-left: 0px;
} */

/* .searchButton:hover {
  background-color: #81c221;
} */

.searchList {
  display: flex;
  justify-content: left;
  flex-flow: row-reverse wrap;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  color: rgb(95, 93, 93);
  font-size: x-small;
  padding-left: 5px;
  padding: 0 10px;
}

.tag{padding: 5px 5px 5px 5px;cursor: pointer;}
