:root {
  --marginLeft: 20px;
  --marginRight: 20px;
  --width1st: 670px;
  --bluelight: rgb(241, 245, 250);
}

.urlEditView,
.newUrl {
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 14px;
  background-color: whitesmoke;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border: 1px var(--orange) dotted;
  background-color: var(--whitesmoke);
  /* text-align:start; */

}

.newUrl {
  margin-left: var(--marginLeft);
  min-width: var(--width1st);
  max-width: var(--width1st);
}

.urlEditView {
  width: 645px;
}


.urlid {
  text-align: center;
  margin-left: var(--marginLeft);
  margin-right: 10px;
}


.urlTextView {
  padding-left: 10px;
  width: 25px;

}

.urlTextView {
  font-size: 14px;

}

a:link,
a:visited {
  text-align: start;
  text-decoration: none;
  display: inline-block;

}

a:hover,
a:active {

  text-decoration: underline;
  color: var(--orange);
}


.formLabel {
  margin: auto;
}

.urlTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.urlContainer,
.urlBox {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 5px;
  margin-right: 50px;
  justify-content: flex-start;
  align-items: center;
}

.urlBox {
  border-radius: 5px;
  font-size: 14px;
  background-color: white
}

.urlrender {
  display: flex;
  flex-direction: column;
  margin: 5px 0 15px 0;
}

.iconBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.OKIcon,
.cancelIcon,
.deleteIcon,
.newUrlIcon,
.editIcon {
  position: relative;
  justify-content: center;
  border-color: rgb(233, 229, 229);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  font-size: 1.2rem;
  padding-left: 0px;
  margin-left: 10px;
}

.cancelIcon,
.deleteIcon,
.newUrlIcon,
.editIcon {
  cursor: pointer;
}

.newUrlIcon,
.deleteIcon,
.cancelIcon {
  /* color: grey; */
  color: rgb(68, 68, 68);
}

.editIcon:hover,
.cancelIcon:hover,
.newUrlIcon:hover,
.deleteIcon:hover {
  color: orange;
}

.newUrlIcon::before,
.newUrlIcon::after,
.editIcon::before,
.editIcon::after {
  --scale: 0;
  position: absolute;
  font-size: .7rem;
  top: 0.1rem;
  left: 3rem;
  transform: translateX(-50%)scale(var(--scale));
  transition: 150ms tranform;

}

.newUrlIcon::before,
.editIcon::before {
  content: attr(datatooltip);
  padding: .3rem;
  text-align: center;
  /* width: max-content; */
  max-width: 60px;
  color: rgb(68, 68, 68);
  background-color: white;
  font-weight: bold;
  border-radius: .3rem;

}

.newUrlIcon:hover:before,
.editIcon:hover:before {
  --scale: 1;
}