* {
    box-sizing: border-box;
}

:root {
    --main-font:
        'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --lightgrey-color: rgb(184, 186, 187);
    --main-line-height: 1.6;
    /* --orange: rgb(238, 128, 64); */
    --font-lobster: Lobster, sans-serif;
    --greydark: #444444;
    /* --greydark: rgb(63, 64, 73); */

    --orange: orange;
    --border3px: 3px solid #b8babb;
    --border: 1px solid #b8babb;
    --whitesmoke: whitesmoke;
    --grey: rgb(209, 209, 209);
    --marginLeft: 15px;
    --transDuration: 0.3s;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: var(--greydark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100%;
    height: auto;
    min-height: 100%;
    width: 100%;
    /* overflow-x: hidden;
    overflow-y: auto; */
    scrollbar-gutter: stable;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.persistCheck label {
    margin: 0;
}

[type='checkbox'] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}

/* V index.css - aplikuje sa na celú stránku */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Farba pozadia (koľajnice) */
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1; /* Farba posuvníka (to, čo chytáš) */
    border-radius: 5px;
    border: 2px solid #f1f1f1; /* Vytvorí efekt odsadenia */
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8; /* Farba pri hoveri */
}

* {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;
}

/* html {
    scrollbar-gutter: stable;
} */
input,
button,
textarea,
select {
    font-family: inherit;
    color: inherit;
}

.pageLayout {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    min-height: 100dvh;
}
header {
    position: sticky;
    top: 0;
    z-index: 12;
    border-bottom: none;
    box-sizing: border-box;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    flex: 1;
}
footer {
    padding: 1.6rem 0;
    background-color: var(--c-white);
    border-top: 1px solid var(--c-border);
}

@font-face {
    font-family: Lobster;
    src: url('../src/assets/fonts/LobsterTwo-Regular.ttf');
}
@media (width <= 600px) {
    body {
        height: auto;
        min-height: 100%;
        /* overflow-y: auto; */
        -webkit-overflow-scrolling: touch; /* Hladký scroll pre staršie iPhony */
    }
    html {
        height: -webkit-fill-available;
    }
}
